*
  margin: 0
  padding: 0

body
  background: url("../img/bg_pic.jpg") no-repeat
  z-index: 999

.header-in
  background-color: rgba(43, 28, 19, 0.6)

.fixed
  background-color: rgba(43, 28, 19, 0.6)

.full-width
  max-width: 100%
  .width
    padding: 0

.clarity
  z-index: 10
  background-color: rgba(43, 28, 19, 0.6)

.logo
  padding-left: 7.9375rem
  width: 20%
  img
    position: absolute
.top-bar-section a:hover
  color: #fc5900!important
  transition: 0.3s

.left li:first-child
  background: none

.left li
  background: url("../img/border.png") no-repeat center
  background-position: 1px
  .dropdown
    transition: 0.5s

.dropdown li
  background: none
.radius-bot li:last-child
  a
    border-radius: 0 0 7px 7px
.radius-top li:nth-child(3)
  a
    border-radius: 7px 7px 0 0

.content
  background-color: red
  width: 90%
  height: 1200px
  margin-top: 100px

.fixed .logo
  z-index: 100
  width: 13%