* {
  margin: 0;
  padding: 0; }

body {
  background: url("../img/bg_pic.jpg") no-repeat;
  background-color: #302017; }

.header-in {
  background-color: rgba(43, 28, 19, 0.6);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999; }

.width {
  padding: 0;
  float: right; }

.header-in .logo {
  width: 25%;
  padding: 0; }
  .header-in .logo img {
    position: absolute;
    width: 100%; }

.top-bar-section a:hover {
  color: #fc5900 !important;
  transition: 0.3s; }

.left li:first-child {
  background: none; }

.left li {
  background: url("../img/border.png") no-repeat center;
  background-position: 1px; }
  .left li .dropdown {
    transition: 0.5s; }

.dropdown li {
  background: none; }

.radius-bot li:last-child a {
  border-radius: 0 0 7px 7px; }

.radius-top li:nth-child(3) a {
  border-radius: 7px 7px 0 0; }

.content {
  margin-top: 158px; }

.fixed .logo {
  z-index: 100;
  width: 13%; }

.rounds {
  border-radius: 7px;
  margin-bottom: 30px;
  padding: 8px 0; }
  .rounds h3 {
    font-size: 50px;
    font-weight: bold;
    line-height: 0.8;
    margin-bottom: 0; }
  .rounds .info {
    color: #fc5900;
    font-weight: bold; }
  .rounds .info:hover {
    color: white; }

.rounds-in {
  width: 77%;
  margin: auto; }
  .rounds-in img {
    width: 100%;
    margin: 5px 0; }

.brown {
  background-color: rgba(43, 28, 19, 0.85); }

.grey {
  background-color: rgba(82, 82, 80, 0.8); }

.whity {
  background-color: rgba(255, 255, 255, 0.8); }
  .whity .info:hover {
    color: #2c1d15; }
  .whity p {
    color: #2c1d15; }
  .whity .white {
    margin-bottom: -8px; }

.dots {
  width: 100%;
  height: 2px;
  border: none; }

.dots-white {
  background: url("../img/border1.png") repeat-x; }

.dots-dark {
  background: url("../img/border2.png") repeat-x; }

.white {
  color: #ffffff;
  line-height: 1;
  margin: 8px 0; }

.icons {
  margin: auto; }

.ico {
  color: white;
  background-color: #fc5900;
  border-radius: 100%;
  font-size: 41px;
  margin: 3px; }

.ico:hover {
  color: #fc5900;
  background-color: white;
  transition: 0.5s; }

.fa-facebook {
  padding: 9px 22px; }

.fa-twitter {
  padding: 9px 12px; }

.fa-youtube {
  padding: 9px 12px; }

.w-fix {
  margin: 0 !important; }

.center-section {
  padding-right: 15px; }
  .center-section .rounds-in {
    width: 90%; }

.dark {
  color: #2c1d15; }

.orange {
  color: #fc5900; }

.right-section {
  background-color: red;
  height: 500px; }

.price p {
  font-size: 45px;
  font-weight: bold;
  margin-bottom: -0.75rem; }
.price span {
  font-size: 25px;
  top: -14px;
  position: relative;
  left: -10px; }

.fig {
  margin-bottom: 30px; }

.figure {
  height: 168px; }

.f-1 {
  background: url("../img/page1_pic7.jpg") no-repeat; }

.f-2 {
  background: url("../img/page1_pic5.jpg") no-repeat; }

.f-3 {
  background: url("../img/page1_pic6.jpg") no-repeat; }

.f-4 {
  background: url("../img/page1_pic4.jpg") no-repeat; }

.figure-in {
  background-color: #fc5900;
  height: 100%;
  padding: 23px;
  opacity: 0;
  transform: scale(0.2); }
  .figure-in .p-top {
    font-weight: bold;
    color: #ffffff; }
  .figure-in .p-bot {
    color: #ffffff; }

.fig:hover .figure .figure-in {
  opacity: 0.8;
  transform: scale(1);
  transition: 0.5s; }

/*# sourceMappingURL=style.css.map */
