%html
  %head{lang:"en"}
    %meta{charset:"UTF-8"}
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %link{href:"css/foundation.css", rel:"stylesheet"}/
    %link{href:"css/style.css", rel: "stylesheet"}/
    %link{href:"css/animate.css", rel: "stylesheet"}/
    %link{href:"//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css", rel:"stylesheet"}
    %title Genius
  %body
    .wrapper
      %header
        .header-in.animated
          .row.full-width
            .large-2.medium-12.columns.logo
              %a{href:"#"}
                %img{src:"img/logo.png"}
            .large-10.medium-12.columns.width
              %nav.top-bar{"data-topbar" => "", :role => "navigation", "data-option" => ""}
                %ul.title-area
                  %li.name
                  %li.toggle-topbar.menu-icon
                    %a{href:"#"}
                      %span Menu
                %section.top-bar-section
                  %ul.left
                    %li
                      %a{href:"#"} HOME
                    %li.has-dropdown
                      %a{href:"#"} MENU
                      %ul.dropdown.radius-bot
                        %li
                          %a{href:"#"} LOREM IPSUM DOLOR
                        %li.has-dropdown
                          %a{href:"#"} CONSE CTETUR
                          %ul.dropdown.radius-bot.radius-top
                            %li
                              %a{href:"#"} HOME
                            %li
                              %a{href:"#"} HOME
                            %li
                              %a{href:"#"} HOME
                            %li
                              %a{href:"#"} HOME
                        %li
                          %a{href:"#"} ELIT SED DO EIUSMOD
                        %li
                          %a{href:"#"} INCIDIDUNT UT
                    %li
                      %a{href:"#"} GALLERY
                    %li
                      %a{href:"#"} ABOUT
                    %li
                      %a{href:"#"} CONTACTS
      .content
        .row
          .large-3.columns.animated.fadeInLeft.left-section
            .row
              .large-12.columns.rounds.brown
                .rounds-in
                  %h3.white OUR EVENTS
                  %hr.dots
                  %img{src:"img/pic1.jpg"}
                  %a.info{href:"#"} LOREM IPSUM DOLOR SIT AMET CONS
                  %p.white Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                  %hr.dots
                  %img{src:"img/pic2.jpg"}
                  %a.info{href:"#"} EA COMMODO CONSEQUAT. DUIS AUTE IRURE
                  %p.white Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                  %hr.dots
                  %img{src:"img/pic3.jpg"}
                  %a.info{href:"#"} DOLOR IN REPREHENDERIT IN VOLUPTATE VELIT ES
                  %p.white Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                  %hr.dots
                  %a.button.radius{href:"#"} SEE ALL
              .large-12.columns.rounds.grey
                .rounds-in
                  %h3.white FOLLOW US
                  %hr.dots
                  .icons
                    %a{href:"#"}
                      %i.fa.fa-twitter.ico
                    %a{href:"#"}
                      %i.fa.fa-facebook.ico
                    %a{href:"#"}
                      %i.fa.fa-youtube.ico
          .large-3.columns.animated.fadeInDown.center-section
            .row
              .large-12.columns.rounds
          .large-3.columns.animated.fadeInRight.right-section
    %script{src:"js/vendor/jquery.js"}
    %script{src:"js/foundation.min.js"}
    :javascript
      $(document).foundation();
    :javascript
      jQuery("document").ready(function($){
        var nav = $('.header-in');
        $(window).scroll(function () {
          if ($(this).scrollTop() > 36) {
            nav.addClass("fadeInDown");
          } else {
            nav.removeClass("fadeInDown");
          }
        });
      });



