%html
  %head{lang:"en"}
    %meta{charset:"UTF-8"}
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %link{href:"css/foundation.css", rel:"stylesheet"}/
    %link{href:"css/style.css", rel: "stylesheet"}/
    %link{href:"css/jquery.bxslider.css", rel: "stylesheet"}
    %link{href:"css/animate.css", rel: "stylesheet"}/
    %link{href:"//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css", rel:"stylesheet"}
    %title Genius
  %body
    .wrapper
      %header
        .header-in.animated
          .row.full-width
            .large-2.medium-12.columns.logo
              %a{href:"#"}
                %img{src:"img/logo.png"}
            .large-10.medium-12.columns.width
              %nav.top-bar{"data-topbar" => "", :role => "navigation", "data-option" => ""}
                %ul.title-area
                  %li.name
                  %li.toggle-topbar.menu-icon
                    %a{href:"#"}
                      %span Menu
                %section.top-bar-section
                  %ul.left
                    %li
                      %a{href:"#"} HOME
                    %li.has-dropdown
                      %a{href:"#"} MENU
                      %ul.dropdown.radius-bot
                        %li
                          %a{href:"#"} LOREM IPSUM DOLOR
                        %li.has-dropdown
                          %a{href:"#"} CONSE CTETUR
                          %ul.dropdown.radius-bot.radius-top
                            %li
                              %a{href:"#"} HOME
                            %li
                              %a{href:"#"} HOME
                            %li
                              %a{href:"#"} HOME
                            %li
                              %a{href:"#"} HOME
                        %li
                          %a{href:"#"} ELIT SED DO EIUSMOD
                        %li
                          %a{href:"#"} INCIDIDUNT UT
                    %li
                      %a{href:"#"} GALLERY
                    %li
                      %a{href:"#"} ABOUT
                    %li
                      %a{href:"#"} CONTACTS
      .content
        .row
          .large-3.small-12.columns.animated.fadeInLeft.left-section
            .row
              .large-12.columns.rounds.brown
                .rounds-in
                  %h3.white OUR EVENTS
                %hr.dots-white.dots
                .rounds-in
                  %img{src:"img/pic1.jpg"}
                  %a.info{href:"#"} LOREM IPSUM DOLOR SIT AMET CONS
                  %p.white Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                %hr.dots-white.dots
                .rounds-in
                  %img{src:"img/pic2.jpg"}
                  %a.info{href:"#"} EA COMMODO CONSEQUAT. DUIS AUTE IRURE
                  %p.white Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                %hr.dots-white.dots
                .rounds-in
                  %img{src:"img/pic3.jpg"}
                  %a.info{href:"#"} DOLOR IN REPREHENDERIT IN VOLUPTATE VELIT ES
                  %p.white Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                %hr.dots-white.dots
                .rounds-in
                  %a.button.radius{href:"#"} SEE ALL
              .large-12.columns.rounds.grey
                .rounds-in
                  %h3.white FOLLOW US
                %hr.dots-white.dots
                .rounds-in
                  .icons
                    %a{href:"#"}
                      %i.fa.fa-twitter.ico
                    %a{href:"#"}
                      %i.fa.fa-facebook.ico
                    %a{href:"#"}
                      %i.fa.fa-youtube.ico
          .large-6.small-12.columns.animated.fadeInDown.center-section
            .row.w-fix
              .large-12.columns.rounds
                %ul.bxslider
                  %li
                    %img{src:"img/picslide1.jpg"}
                  %li
                    %img{src:"img/picslide2.jpg"}
                  %li
                    %img{src:"img/picslide3.jpg"}
                  %li
                    %img{src:"img/picslide4.jpg"}
              .large-12.columns.rounds.whity.w-1
                .rounds-in
                  %h3.dark LUNCH
                  %h3.orange SPECIAL
                %hr.dots-dark.dots
                .rounds-in
                  .row
                    .large-6.columns
                      %img{src:"img/page1_pic4.jpg"}
                      %a.info{href:"#"} LOREM IPSUM DOLOR SIT
                      %p.white Lorem ipsum dolor sit amet conse ctetur adipisicing elit
                      .price
                        %p $25 <span>.89</span>
                    .large-6.columns
                      %img{src:"img/page1_pic5.jpg"}
                      %a.info{href:"#"} LOREM IPSUM DOLOR SIT
                      %p.white Lorem ipsum dolor sit amet conse ctetur adipisicing elit
                      .price
                        %p $15 <span>.89</span>
                %hr.dots-dark.dots
                .rounds-in
                  .row
                    .large-6.columns
                      %img{src:"img/page1_pic6.jpg"}
                      %a.info{href:"#"} LOREM IPSUM DOLOR SIT
                      %p.white Lorem ipsum dolor sit amet conse ctetur adipisicing elit
                      .price
                        %p $8 <span>.89</span>
                    .large-6.columns
                      %img{src:"img/page1_pic7.jpg"}
                      %a.info{href:"#"} LOREM IPSUM DOLOR SIT
                      %p.white Lorem ipsum dolor sit amet conse ctetur adipisicing elit
                      .price
                        %p $32 <span>.89</span>
                %hr.dots-dark.dots
                  .rounds-in
                    %a.button.radius{href:"#"} SEE ALL
              .large-12.columns.rounds.whity.w-2
                .rounds-in
                  %h3.dark LATEST
                  %h3.orange PHOTOS
                %hr.dots-dark.dots
                .rounds-in
                  .row
                    .large-6.columns.fig
                      %a
                        .figure.f-1{href:"#"}
                          .figure-in
                            %p.p-top 16 Dec, 2014
                            %p.p-bot Lorem ipsum dolor sit amet conse ctetur adipisicing elit
                    .large-6.columns.fig
                      %a
                        .figure.f-2{href:"#"}
                          .figure-in
                            %p.p-top 15 Dec, 2014
                            %p.p-bot Lorem ipsum dolor sit amet conse ctetur adipisicing elit
                    .large-6.columns.fig
                      %a
                        .figure.f-3{href:"#"}
                          .figure-in
                            %p.p-top 25 Dec, 2014
                            %p.p-bot Lorem ipsum dolor sit amet conse ctetur adipisicing elit
                    .large-6.columns.fig
                      %a
                        .figure.f-4{href:"#"}
                          .figure-in
                            %p.p-top 25 Dec, 2014
                            %p.p-bot Lorem ipsum dolor sit amet conse ctetur adipisicing elit
                  %a.button.radius{href:"#"} SEE ALL
          .large-3.small-12.columns.animated.fadeInRight.right-section
    %script{src:"js/vendor/jquery.js"}
    %script{src:"js/foundation.min.js"}
    %script{src:"js/jquery.bxslider.js"}
    :javascript
      $(document).foundation();
    :javascript
      jQuery("document").ready(function($){
        var nav = $('.header-in');
        $(window).scroll(function () {
          if ($(this).scrollTop() > 36) {
            nav.addClass("fadeInDown");
          } else {
            nav.removeClass("fadeInDown");
          }
        });
        var cbw = $('.w-1');
        $(window).scroll(function() {
          if ($(this).scrollTop() > 200) {
            cbw.addClass("fadeInUp");
            cbw.addClass("animated");
            } else {
            cbw.removeClass("fadeInUp");
            }
            });
      });
    :javascript
      $(document).ready(function(){
        $('.bxslider').bxSlider();
      });



